.root {
    -fx-background-color: linear-gradient(to bottom, #00cc00 0%, #003300 100%);
}

.button {
    -fx-font-size: 16px;
    -fx-background-color: linear-gradient(to bottom, #3333cc 0%, #00ccff 100%);;
    -fx-pref-width: 200;
    -fx-pref-height: 50;
    -fx-border-style: solid;
    -fx-border-width: 5px;
    -fx-border-color: linear-gradient(to bottom, #3333cc 0%, #669900 100%);
}

.combo-box {
    -fx-background-color: linear-gradient(to bottom, #3333cc 0%, #00ccff 100%);;
    -fx-pref-width: 200;
    -fx-pref-height: 50;
    -fx-border-style: solid;
    -fx-border-width: 5px;
    -fx-border-color: linear-gradient(to bottom, #3333cc 0%, #669900 100%);
}

#pauseMenu {

}

#Inventory {

}

#game {

}

